<a href="https://colab.research.google.com/github/RodAnC2210/first_stepsDS/blob/main/RetoEmpleados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Reto: Deserción De Empleados

In [22]:
#1.	Importa las librerías requeridas
import pandas as pd

# 2. Lee el archivo CSV llamado empleadosRETO.csv y coloca los datos en un frame de Pandas llamado EmpleadosAttrition.

EmpleadosAttrition = pd.read_csv('/content/empleadosRETO.csv')
EmpleadosAttrition

,Age,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,Gender,...,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StandardHours,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsInCurrentRole,YearsSinceLastPromotion,Attrition
0,50,Travel_Rarely,Research & Development,1 km,2,Medical,1,997,4,Male,...,22,4,3,80,32,1,2,4,1,No
1,36,Travel_Rarely,Research & Development,6 km,2,Medical,1,178,2,Male,...,20,4,4,80,7,0,3,2,0,No
2,21,Travel_Rarely,Sales,7 km,1,Marketing,1,1780,2,Male,...,13,3,2,80,1,3,3,0,1,Yes
3,52,Travel_Rarely,Research & Development,7 km,4,Life Sciences,1,1118,2,Male,...,19,3,4,80,18,4,3,6,4,No
4,33,Travel_Rarely,Research & Development,15 km,1,Medical,1,582,2,Male,...,12,3,4,80,15,2,4,6,7,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,33,Travel_Rarely,Research & Development,14 km,3,Medical,1,325,3,Male,...,13,3,3,80,8,2,1,4,0,Yes
396,31,Travel_Rarely,Sales,20 km,3,Life Sciences,1,175,2,Female,...,11,3,3,80,4,2,3,2,2,Yes
397,37,Travel_Frequently,Research & Development,11 km,3,Other,1,306,2,Male,...,14,3,3,80,10,1,3,8,0,No
398,38,Travel_Rarely,Research & Development,4 km,2,Medical,1,1687,4,Female,...,19,3,4,80,7,5,2,0,0,No
399,33,Travel_Rarely,Research & Development,14 km,3,Medical,1,252,4,Female,...,13,3,4,80,8,5,3,7,1,No

In [23]:
# 3.	Elimina las columnas que, con alta probabilidad (estimada por ti), no tienen relación alguna con la salida
EmpleadosAttrition = EmpleadosAttrition.drop(['EmployeeCount','EmployeeNumber','Over18','StandardHours'], axis=1)

In [27]:
#4.	Analizando la información proporcionada, detectaste que no se cuenta con los años que el empelado lleva en la compañía y parece ser un buen dato. Dicha cantidad se puede calcular con la fecha de contratación ‘HiringDate’:
# a.	Crea una columna llamada Year y obtén el año de contratación del empleado a partir de su fecha ‘HiringDate’. No se te olvide que debe ser un entero.

EmpleadosAttrition['Year'] = pd.to_datetime(EmpleadosAttrition['HiringDate']).dt.year

In [25]:
EmpleadosAttrition.loc[229, 'HiringDate'] # se localiza fecha que provoca error

'2/30/2012'

In [26]:
EmpleadosAttrition.drop(229, axis=0, inplace=True ) # se elimina renglón que provoca error por fecha "30 de febrero"

In [28]:
# b.	Crea una columna llamada YearsAtCompany que contenga los años que el empleado lleva en la compañía hasta el año 2018. Para su cálculo, usa la variable Year que acabas de crear.
EmpleadosAttrition['YearsAtCompany'] = 2018 - EmpleadosAttrition['Year']

In [29]:
#5.	La DistanceFromHome está dada en kilómetros, pero tiene las letras “km” al final y así no puede ser entera:
# a.	Renombra la variable DistanceFromHome a DistanceFromHome_km.
# b.	Crea una nueva variable DistanceFromHome que sea entera, es decir, solo con números.

EmpleadosAttrition.rename(columns={'DistanceFromHome':'DistanceFromHome_km'}, inplace=True)
EmpleadosAttrition['DistanceFromHome'] = EmpleadosAttrition['DistanceFromHome_km'].str.split(pat=' ').str[0].astype(int)

In [30]:
# 6.	Borra las columnas Year, HiringDate y DistanceFromHome_km debido a que ya no son útiles.

EmpleadosAttrition.drop(['Year', 'HiringDate', 'DistanceFromHome_km'], axis=1, inplace=True)

In [31]:
# 7.	Aprovechando los ajustes que se están haciendo, la empresa desea saber si todos los departamentos tienen un ingreso promedio similar. Genera un nuevo frame llamado SueldoPromedioDepto que contenga el MonthlyIncome promedio por departamento de los empleados y colócalo en una variable llamada SueldoPromedio. Esta tabla solo es informativa, no la vas a utilizar en el set de datos que estás construyendo.

SueldoPromedioDepto = EmpleadosAttrition.groupby('Department')['MonthlyIncome'].mean().reset_index()
SueldoPromedioDepto

               Department  MonthlyIncome
0         Human Resources    6239.888889
1  Research & Development    6804.149813
2                   Sales    7192.609756

In [32]:
# 8.	La variable MonthlyIncome tiene un valor numérico muy grande comparada con las otras variables. Escala dicha variable para que tenga un valor entre 0 y 1.

from sklearn.preprocessing import MinMaxScaler

escalador = MinMaxScaler()
MonthlyIncome_escalado = escalador.fit_transform(EmpleadosAttrition[['MonthlyIncome']])

In [33]:
EmpleadosAttrition['MonthlyIncome_escalado'] = MonthlyIncome_escalado

9. Todo parece indicar que las variables categóricas que quedan sí son importantes para obtener la variable de salida. Convierte todas las variables categóricas que quedan a numéricas:

a.	BusinessTravel
b.	Department
c.	EducationField
d.	Gender
e.	JobRole
f.	MaritalStatus
g.	Attrition

In [34]:
EmpleadosAttrition_OH = pd.get_dummies(EmpleadosAttrition, columns=['BusinessTravel', 'Department', 'EducationField', 'Gender', 'JobRole', 'MaritalStatus','OverTime', 'Attrition'], dtype = 'uint8')

In [35]:
EmpleadosAttrition_OH

,Age,Education,EnvironmentSatisfaction,JobInvolvement,JobLevel,JobSatisfaction,MonthlyIncome,NumCompaniesWorked,PercentSalaryHike,PerformanceRating,...,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,OverTime_No,OverTime_Yes,Attrition_No,Attrition_Yes
0,50,2,4,3,4,4,17399,9,22,4,...,0,0,0,1,0,0,1,0,1,0
1,36,2,2,3,2,2,4941,6,20,4,...,0,0,0,1,0,0,1,0,1,0
2,21,1,2,3,1,2,2679,1,13,3,...,0,0,1,0,0,1,1,0,0,1
3,52,4,2,3,3,2,10445,7,19,3,...,0,0,0,0,0,1,1,0,1,0
4,33,1,2,3,3,3,13610,7,12,3,...,0,0,0,0,1,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,33,3,3,3,1,4,2436,5,13,3,...,0,0,0,0,1,0,0,1,0,1
396,31,3,2,1,2,3,4559,3,11,3,...,0,1,0,0,1,0,0,1,0,1
397,37,3,2,3,3,4,12185,1,14,3,...,0,0,0,1,0,0,0,1,1,0
398,38,2,4,3,1,3,3306,7,19,3,...,0,0,0,0,1,0,1,0,1,0
399,33,3,4,3,1,2,2756,1,13,3,...,1,0,0,0,1,0,1,0,1,0

In [36]:
# 10.	Ahora debes hacer la evaluación de las variables para quedarte con las mejores. Calcula la correlación lineal de cada una de las variables con respecto al Attrition.

correlaciones = EmpleadosAttrition_OH.corr()['Attrition_Yes']
correlaciones

Age                                 -0.212459
Education                           -0.054478
EnvironmentSatisfaction             -0.125091
JobInvolvement                      -0.168047
JobLevel                            -0.214486
JobSatisfaction                     -0.163964
MonthlyIncome                       -0.195044
NumCompaniesWorked                  -0.008590
PercentSalaryHike                   -0.061714
PerformanceRating                   -0.007010
RelationshipSatisfaction            -0.032777
TotalWorkingYears                   -0.214043
TrainingTimesLastYear               -0.071592
WorkLifeBalance                     -0.023063
YearsInCurrentRole                  -0.204453
YearsSinceLastPromotion             -0.069835
YearsAtCompany                      -0.176287
DistanceFromHome                     0.052944
MonthlyIncome_escalado              -0.195044
BusinessTravel_Non-Travel           -0.101103
BusinessTravel_Travel_Frequently     0.034833
BusinessTravel_Travel_Rarely         0.043551
Department_Human Resources           0.023226
Department_Research & Development   -0.074053
Department_Sales                     0.067985
EducationField_Human Resources       0.043267
EducationField_Life Sciences        -0.028511
EducationField_Marketing             0.020458
EducationField_Medical              -0.054974
EducationField_Other                -0.004525
EducationField_Technical Degree      0.128876
Gender_Female                        0.030200
Gender_Male                         -0.030200
JobRole_Healthcare Representative   -0.103686
JobRole_Human Resources              0.032564
JobRole_Laboratory Technician        0.124827
JobRole_Manager                     -0.090209
JobRole_Manufacturing Director      -0.042802
JobRole_Research Director           -0.116656
JobRole_Research Scientist           0.007467
JobRole_Sales Executive             -0.000991
JobRole_Sales Representative         0.191070
MaritalStatus_Divorced              -0.108565
MaritalStatus_Married               -0.093706
MaritalStatus_Single                 0.205308
OverTime_No                         -0.324332
OverTime_Yes                         0.324332
Attrition_No                        -1.000000
Attrition_Yes                        1.000000
Name: Attrition_Yes, dtype: float64

In [37]:
# 11.	Selecciona solo aquellas variables que tengan una correlación mayor o igual a 0.1, dejándolas en otro frame llamado EmpleadosAttritionFinal. No olvides mantener la variable de salida Attrition; esto es equivalente a borrar las que no cumplen con el límite.

variablesEntrada = correlaciones[correlaciones.abs() >= 0.1].index
EmpleadosAttritionFinal = EmpleadosAttrition_OH[variablesEntrada]

In [38]:
# 12.	Crea una nueva variable llamada EmpleadosAttritionPCA formada por los componentes principales del frame EmpleadosAttritionFinal. Recuerda que el resultado del proceso PCA es un numpy array, por lo que, para hacer referencia a una columna, por ejemplo, la 0, puedes usar la instrucción EmpleadosAttritionPCA[:,0]).

from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler

X = EmpleadosAttritionFinal.drop(columns=['Attrition_Yes', 'Attrition_No'])
y = EmpleadosAttritionFinal['Attrition_Yes']

stdscaler = StandardScaler()
X_scaled = stdscaler.fit_transform(X)

pca = PCA()
EmpleadosAttritionPCA = pca.fit(X_scaled)
EmpleadosAttritionPCA = pca.transform(X_scaled)

In [39]:
# 13.	Agrega el mínimo número de Componentes Principales en columnas del frame EmpleadosAttritionPCA que logren explicar el 80% de la varianza, al frame EmpleadosAttritionFinal. Puedes usar la instrucción assign, columna por columna, llamando a cada una C0, C1, etc., hasta las que vayas a agregar.

varianza_acumulada = pca.explained_variance_ratio_.cumsum()
num_componentes = (varianza_acumulada >= 0.80).argmax() + 1
for i in range(num_componentes):
    EmpleadosAttritionFinal = EmpleadosAttritionFinal.assign(**{f'C{i}': EmpleadosAttritionPCA[:, i]})

In [40]:
EmpleadosAttritionFinal

,Age,EnvironmentSatisfaction,JobInvolvement,JobLevel,JobSatisfaction,MonthlyIncome,TotalWorkingYears,YearsInCurrentRole,YearsAtCompany,MonthlyIncome_escalado,...,C0,C1,C2,C3,C4,C5,C6,C7,C8,C9
0,50,4,3,4,4,17399,32,4,5,0.864269,...,4.605282,0.723242,0.028927,-1.673027,-0.594717,-0.366752,1.686917,1.731725,1.480806,-0.856430
1,36,2,3,2,2,4941,7,2,3,0.207340,...,-0.991067,0.991543,-0.607636,-0.764983,0.271118,0.085733,1.622984,0.145307,-0.108516,0.376073
2,21,2,3,1,2,2679,1,0,1,0.088062,...,-3.391314,0.761381,3.038432,1.737854,-0.140995,0.737260,1.217249,0.795851,-0.290974,1.174219
3,52,2,3,3,2,10445,18,6,8,0.497574,...,1.826544,0.730104,1.428932,-0.806638,2.264676,-0.342307,-1.498296,-0.938093,-1.036439,0.916115
4,33,2,3,3,3,13610,15,6,7,0.664470,...,1.531202,-2.346335,0.098848,0.049531,0.004987,-0.007486,0.382978,-0.261327,0.701316,0.504737
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,33,3,3,1,4,2436,8,4,5,0.075248,...,-2.141316,-2.102150,-1.390943,-0.476980,-0.648794,0.400024,-0.783848,-0.692200,1.245601,-0.381389
396,31,2,1,2,3,4559,4,2,2,0.187197,...,-1.474441,-2.238762,0.106640,0.274012,-0.219911,-1.617151,0.467265,-0.282724,-0.432703,-0.985081
397,37,2,3,3,4,12185,10,8,10,0.589327,...,2.344287,-2.264374,-1.028798,0.213617,-0.839313,-0.223790,2.047490,0.374792,1.605435,0.675437
398,38,4,3,1,3,3306,7,0,0,0.121124,...,-2.340351,0.936787,-0.389303,-1.637309,-0.662237,0.663885,-0.510793,0.009949,0.627248,-1.129272
399,33,4,3,1,2,2756,8,7,8,0.092122,...,-1.246594,0.678675,-0.506966,0.146542,-0.052097,1.383021,-0.640597,0.956218,-0.586365,0.072151

In [44]:
# 14.	Guarda el set de datos que has formado y que tienes en EmpleadosAttritionFinal en un archivo CSV llamado EmpleadosAttritionFinal.csv. Las últimas columnas que colocaste quedarán después de la variable Attrition, lo cual no importa, pero si gustas lo puedes arreglar antes de escribir el archivo.

EmpleadosAttritionFinal.to_csv('/content/data/EmpleadosAttritionFinal.csv', index=False)